<p id="notice"><%= notice %></p>

<h3 style="background: #f5f5f5 url('<%= @event.poi_type.image.url(:small) if @event.poi_type && @event.poi_type.image %>') no-repeat right center;"><%= @event.localized_title session[:locale] %>

  <div class="rating" style="float: right; margin-right: 28px;">
    <div class="event-rating" data="<%= @event.rating * 2 %>" style="display: inline-block; margin-left: 8px;"></div>
    <script type="text/javascript">
      $(document).ready(function(){
        $(".event-rating").jRating({
    	    showRateInfo:false,
    	    eventId: "<%= @event.id %>",
    	    type: 'gray'
    	  });
      });
    </script>
  </div>
  
</h3>

<div class="row">
  <div id="map-canvas" style="width: 1010px; height: 400px; margin: 22px 0 30px -5px; display: block; clear: both;"></div>
  
  <script>
    var event = <%= @event.to_json.html_safe %>;
  </script>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "show-event-map" %>
</div>

<div class="row">
  <div class="span11">
    <%= time_tag @event.created_at %>
    <div>
      <%= @event.localized_description(session[:locale]).html_safe %>
    </div>
  </div>
  
  <div class="span5">
    <% if current_admin_user %>
      <h3>Administración</h3>
      <%= link_to "Editar", event_url(@event) + "/edit", class: 'btn' %>
      <%= link_to "Eliminar", event_url(@event), class: 'btn danger', confirm: '¿Esta seguro?', method: 'delete' %>
    <% end %>

    <div id="event-photos">
      <h3 id="last-photos"><%= t :photos %></h3>
      <%= javascript_include_tag "jquery.fancybox-1.3.4.pack" %>
      <%= javascript_include_tag "jquery.mousewheel-3.0.4.pack" %>
      
      <% @event.photos.each do |photo| %>
        <script>
      		$(document).ready(function() {
      			$("a#fancybox-<%= photo.id %>").fancybox({
        				overlayShow: false,
        				transitionIn: 'elastic',
        				transitionOut: 'elastic'
        			});
      			});
        </script>
        <%= link_to image_tag(photo.image.url(:thumb)), photo.image.url(:full), id: "fancybox-#{photo.id}" %>
      <% end %>
      <div>
        <script>
          function showForm(){
            $('#upload-photo-button').css('display', 'none');
            $('#upload-photo-form').fadeToggle();
          }
        </script>
        <a href="#" id="upload-photo-button" class="btn" onClick="showForm(); return false"><%= t :upload_photos %></a>
        <form accept-charset="UTF-8" action="/photos" class="new_photo" enctype="multipart/form-data" id="upload-photo-form" method="post" style="display:  none;">
          <input id="photo_event_id" name="photo[event_id]" type="hidden" value="<%= @event.id %>">
          <input id="photo_image" name="photo[image]" type="file">
          <input name="commit" class="btn" type="submit" value="<%= t :create_photo %>">
        </form>
      </div>
    </div>
    
  </div>
</div>

<div id="event-comments" class="span11">
<h3 id="last-comments"><%= t :comments %></h3>
    <script>
    function publishComment(){
      var comment = $("#comment-content").val();
      $.post('/comments.json',{
  				comment : {
  				  comment: comment,
  				  event_id: <%= @event.id %>
  				}
  			},
  			function(comment) {
  				if(!comment.error){
            // Add comment to comments list
            $('ul#comments-list').prepend(
            '<li><p>'+comment.comment+'</p><div class="comment-info"><p><span><%= current_user.name if current_user %></span></p><time>Ahora</time></div></li>').fadeIn();
            $("#comment-content").val('')
              .attr('rows',1);
            $('#publish').css('display', 'none');
  				}else{
  				}
  			},
  			'json'
  		);
    }
    jQuery(function($){
      $('#comment-content').focus(function(){
        $(this).attr('rows',5);
        $('#publish').css('display', 'inline-block');
      }).blur(function(){
        if ($(this).val() == '') {
          $(this).attr('rows',1);
          $('#publish').css('display', 'none');
        }
      });
    });
  </script>
  
  <div id="new-comment">
    <textarea id="comment-content" placeholder="<%= raw t(:add_your_comment) %>" class="span9" rows=1></textarea>
    <a id="publish" class="btn primary" style="display: none;" href="#event-comments" onClick="publishComment()"><%= t :publish %></a>
  </div>
  <ul id="comments-list">
    <% if @event.comments.count == 0 %>
      <li><%= t :no_comments %></li>
    <% else %>
      <% @event.comments.order('created_at desc').each do |comment| %>
        <li id="comment-<%= comment.id %>">
          <%= simple_format comment.comment %>
          <div class="comment-info">
            <p class="comment-user"><%= comment.user ? simple_format(comment.user.name) : t(:unknown) %></p>
            <%= time_tag comment.created_at %>
          </div>
        </li>
      <% end %>  
    <% end %>  
  </ul>
  
</div>
