<div id="last-photos-slider">
  <h3 id="last-photos"><%= t :last_photos %></h3>
  <%= javascript_include_tag "slider" %>
  <div class="slider">
    <div id="gallery">
      <% @last_photos.each do |photo| %>
        <%= image_tag photo.image.url(:gallery), 'data-url' => event_url(photo.event), 'data-title' => photo.event.title, 'data-description' => truncate(photo.event.description) %>
      <% end %>
    </div>
    <div id="thumbs">
      <% @last_photos.each do |photo| %>
        <%= image_tag photo.image.url(:thumb) %>
      <% end %>  
    </div>
  </div>
</div>

<div id="events-previews" class="row" style="margin-top: 32px;">
  <div class="span11">
    
    <div class="verfied">
      <div class="events-list">
        <ul>
          <%= render @verfied %>
        </ul>
      </div>
    </div>
    <div class="view-all-button">
      <%= link_to t(:view_all), '/eventos', class: 'btn primary span3' %>
    </div>
  
    <div id="last-added">
      <h3 id="last-events"><%= t :last_events %></h3>
      <div class="events-list">
        <ul>
          <%# render @last_events %>
        </ul>
      </div>
    </div>
    <div id="top-rated">
      <h3 id="top-rated-events"><%= t :top_rated %></h3>
      <div class="events-list">
        <ul>
          <%# render @top_events %>
        </ul>
      </div>
    </div>
    
    <div id="top-rated">
      <h3 id="top-rated-events"><%= t :top_rated %></h3>
      <div class="events-list">
        <ul>
          <%= render @next_events %>
        </ul>
      </div>
    </div>
  
  </div>
  <div class="span5">
    <div id="create-event">
      <% unless current_user && current_user.is_banned %>
        <h3 id="contribute"><%= t :contribute %></h3>
        <center>
          <% if current_user %>
            <%= link_to t(:create_event), new_event_path, class: 'btn success span4' %>
          <% else %>
            <p><%= t :login_to_create %></p>
          <% end %>
        </center>
        <% end %>
    </div>
    <div>
      <h3 id="last-comments"><%= t :last_comments %></h3>
      <ul id="last-comments">
        <% @last_comments.each do |comment| %>
          <% if comment.event %>
          <li>
            <%= link_to truncate(comment.comment, length: 80), comment_url(comment), class: 'last-comment' %>
            <%= link_to comment.event.title, event_url(comment.event), class: 'last-comment-event' if comment.event %>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    
  </div>
  
  <div id="near" class="span16">
    <h3 id="map-near"><%= t :near %></h3>
    <div id="map-canvas" style="height: 300px; width: 1010px; margin-left: -25px;"></div>
    <script>
      var poi_types = <%= Hash[PoiType.all.map {|event| [event.id, event]}].to_json.html_safe %>;

      <% events_json = Event.order('created_at desc').limit(50).collect do |event| 
          { poi_type_id: event.poi_type_id, latitude: event.latitude, longitude: event.longitude, slug: event.slug, title: event.title, description: truncate(event.description) }
        end %>
    
      var events = <%= events_json.to_json.html_safe %>;
      
    </script>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>
    <%= javascript_include_tag "near-events-map" %>
    
    <a href="#map-canvas" class="map-expand"><center>&darr;</center></a>
    <script>
      var mapExpanded = false;
      $("a.map-expand").click(function() {
        $('#map-canvas').animate({
          height: mapExpanded ? 300 : 600
        }, {
        	duration: 300,
        	easing: "swing",
        	complete: function(){
        	  google.maps.event.trigger(map, "resize");
        	  $("a.map-expand > center").text(mapExpanded ? '↑' : '↓');
        	}
        });
        
        $("html, body").animate({
      		scrollTop: $($(this).attr("href")).offset().top + "px"
      	}, {
      		duration: 300,
      		easing: "swing"
      	});

        mapExpanded = !mapExpanded;
        return false;
      });
    </script>
  </div>
</div>

